<?xml version='1.0' encoding='utf-8'?>
<widget id="com.aeonforge.lite" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Aeonforge Lite</name>
    <description>2D Mobile RPG Prototype</description>
    <author email="dev@example.com">Your Name</author>
    <content src="index.html" />
    <preference name="Fullscreen" value="true" />
    <preference name="android-minSdkVersion" value="21" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
</widget>
